:root {
  --color-orange: #ffd184;
  --color-purple: rgb(171, 176, 255);
  --color-purple-light: #c0c4ff;

  --search-bg: #f5f5f5;
  --search-border: #cccccc;
  --search-padding: 10px 16px;
  --search-radius: 8px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 700;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

input::placeholder {
  color: #8A8A8A;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 600px;
  width: 800px;
  overflow: auto;
  font-size: 15px;
  background-color: #ffe9d3;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 150px;
}

.title {
  text-align: center;
}

.main-search-form {
  visibility: visible;
}

.main-search-input {
  height: 45px;
}

.search-btn {
  padding: 5px;
  border: none;
  background-color: #ffe9d3;
  cursor: pointer;
}

.search-btn:hover {
  opacity: 0.7;
}

.form-wrapper {
  flex: 4;
  display: flex;
  width: 100%;
  padding: 10px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: #fff;
}

.tiles-wrapper {
  flex: 3;
  padding: 10px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid gray;
  overflow: auto;
}

.tiles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.params-form {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 30px;
}

.form-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
}

.language-select {
  max-width: 250px;
}

.tile {
  position: relative;
  height: min-content;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--color-purple-light);
  -moz-user-select: none !important;
  user-select: none !important;
}

.btn-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 20px;
}

.btn-group {
  display: flex;
  column-gap: 5px;
}

.gap-10 {
  column-gap: 10px;
}

.btn {
  width: fit-content;
  padding: 8px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid gray;
}

.btn:hover {
  opacity: 0.7;
}

.background-orange {
  background-color: var(--color-orange);
}

.background-light-purple {
  background-color: #d5d8ff;
}

.background-purple {
  background-color: var(--color-purple-light);
}

.icon-btn {
  position: absolute;
  top: 3px;
  right: 5px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.bucket-btn {
  width: 12px;
  height: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s;
  color: black;
}

.bucket-btn:hover {
  color: #ce0909
}

.tile:hover .bucket-btn {
  opacity: 1;
  pointer-events: auto;
}

.big-image {
  width: 14px;
  height: 14px;
}

/* dialog */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
}

dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 8px;
  background-color: #fffff3;

  transition:
    opacity 0.3s ease-out,
    transform 0.1s ease-out,
    overlay 0.1s ease-out allow-discrete,
    display 0.1s ease-out allow-discrete;
}

@starting-style {
  dialog[open] {
    opacity: 0;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 400px;
  padding: 15px 40px;
  color: rgb(109, 109, 109);
}

.header-with-tooltip {
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
}

.useful-tip {
  color: var(--color-purple);
}

.location-search {
  width: 300px;
  height: 30px;
  margin-top: 30px;
}

.search-form {
  display: flex;
  gap: 8px;
  max-width: 400px;
  margin-top: 30px;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: none;
}

.input-prime {
  flex-grow: 1;
  padding: var(--search-padding);
  background-color: var(--search-bg);
  border: 1px solid var(--search-border);
  border-radius: var(--search-radius);
  outline: none;
  font-size: 18px;
  font-weight: 600;
  transition: 0.2s;
  color: gray;
}

.input-prime:focus {
  box-shadow: 0 0 0 2px var(--color-purple);
}

.text-input {
  padding: 2px 5px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
}

.text-input:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--color-purple);
}

.text-input:hover {
  border: 1px solid gray;
}

.search-form button {
  padding: var(--search-padding);
  background-color: var(--color-purple);
  color: white;
  border: none;
  border-radius: var(--search-radius);
  font-size: 15px;
  cursor: pointer;
}

.search-form button:active {
  opacity: 0.5;
}

.tip-left {
  align-self: flex-start;
  margin-left: 5px;
  margin-top: 15px;
}

.list-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 5px;
  width: 100%;
  overflow-y: auto;
}

ul.location-list::-webkit-scrollbar {
  display: none;
}

.location-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  width: 100%;
  list-style-type: none;
  border: 1px solid var(--color-purple);
  border-radius: 10px;
  overflow-y: auto;
}

.list-item {
  flex-shrink: 0;
  margin: 0;
  padding: 2px 3px;
  white-space: nowrap;
  cursor: pointer;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.list-item:hover {
  background-color: #ebedff;
}

.list-item:active {
  background-color: #ebedff;
}

.list-item:hover .delete-preset {
  color: #C74A4A;
}

.element-hidden {
  display: none;
}

.my-anchor-element {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  background-color: #e0e0e0;
  color: #333333;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;

  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.my-anchor-element:hover {
  background-color: var(--color-purple);
  color: #ffffff;
}

.input-mark {
  box-shadow: 0 0 0 2px var(--color-purple);
  border-radius: 4px;
}

.need-apply {
  background-color: #ffb330;
}

.delete-preset {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  color: #9BADB7;
}

.preset-list-item {
  display: flex;
  justify-content: space-between;
}

.preset-name {
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}
